@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa/Comfortaa-VariableFont:wght.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-VariableFont:wght.ttf');
}

@font-face {
  font-family: 'WorkSans';
  src: url('/fonts/Work_Sans/WorkSans-Bold.ttf');
}
